*{
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
   font-family: sans-serif;
    outline: none;
    background-color: rgb(207, 222, 235);
}
.container{
    height:100vh;
    display: flex;
    justify-content:center;
    align-items: center;

}
.display{
    background-color: rgb(207, 222, 235);
    padding: 10px;
    box-shadow: inset 1px 1px 2px #525151,
                      1px 1px 2px rgb(165, 174, 177);
    display: grid;
    grid-template-columns: repeat(4,68px);
   
}
input{
    grid-column: span 4;
    height: 50px;
    width: 275px;
    background-color:rgb(200, 207, 207);
    box-shadow: inset -1px -1px 1px #525151,
                inset 1px 1px 1px rgb(165, 174, 177);
    border: none;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 50px;

  
}
button{
    border: none;
    height: 50px;
    width: 70px;
    margin: 8px;
    border: 0px;
    background-color: rgb(207, 222, 235);
    font-size: 20px;
    color: rgb(11, 13, 133);
}
#equal{
    width: 135px; 
    margin: 0px;
    background-color: rgb(34, 122, 180);

}
#title{
    text-size:auto;
    text-align: center;
}
#description{
    size:p;
    text-align: center;
}